_markdown* 
*.aux 
*.bbl 
*.bcf
*.bit 
*.blg 
*.cut 
*.fdb* 
*.fls 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.in 
*.ind 
*.lof 
*.log 
*.lot 
*.lua 
*.markdown.* 
*.out 
*.pdf 
*.svn 
*.toc 
*.url 
*.xdv
